@model Riodetask.Model.Entity.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StockKeepingUnit" class="control-label"></label>
                <input asp-for="StockKeepingUnit" class="form-control" />
                <span asp-validation-for="StockKeepingUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedByUserId" class="control-label"></label>
                <input asp-for="CreatedByUserId" class="form-control" />
                <span asp-validation-for="CreatedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedTime" class="control-label"></label>
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleteByUserId" class="control-label"></label>
                <input asp-for="DeleteByUserId" class="form-control" />
                <span asp-validation-for="DeleteByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedTime" class="control-label"></label>
                <input asp-for="DeletedTime" class="form-control" />
                <span asp-validation-for="DeletedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div style="width: 600px;" class="imager-container" id="viewer1" name="files">
            <label thumb-url='https://picsum.photos/300?v=1' image-id="1" checked="true"></label>
            <label thumb-url='https://picsum.photos/300?v=2' image-id="2"></label>
            <label thumb-url='https://picsum.photos/300?v=3' image-id="3"></label>
            <label thumb-url='https://picsum.photos/300?v=4' image-id="4"></label>
            <label thumb-url='https://picsum.photos/300?v=5' image-id="5"></label>
        </div>


    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section addjs{
    <script src="~/libs/multiple-imager-js/multiple-imager-js/js/imager.js"></script>
    <script>
        $('#viewer1').imgadd({
            tnWidth: '120px',
            tnHeight: '120px',
            fontSize: '55px',
            plusInnerHtml: '',
            plusBtnClass: undefined
        });
    </script>
}

@section addcss{
    <script src="https://kit.fontawesome.com/1154e1d6ee.js" crossorigin="anonymous"></script>
    <link href="~/libs/multiple-imager-js/multiple-imager-js/css/imager.css" rel="stylesheet" />
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}