<ul id="sidebar_menu">
    <li class="">
        <a asp-controller="dashboard" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/1.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Dashboard </span>
            </div>
        </a>

    </li>

    <li class="">
        <a asp-controller="dashboard" asp-action="invoice" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/8.svg" alt="">
            </div>
            <div class="nav_title">
                <span>@SideBar.invoice </span>
            </div>
        </a>

    </li>
    <li class="">
        <a class="has-arrow" href="#" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/Pages.svg" alt="">
            </div>
            <div class="nav_title">
                <span>@SideBar.pages</span>
            </div>
        </a>
        <ul>
            <li><a href="role_permissions.html">Role & Permissions</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a asp-controller="account" asp-action="login">Login</a></li>
            <li><a href="resister.html">Register</a></li>
            <li><a href="error_400.html">Error 404</a></li>
            <li><a href="error_500.html">Error 500</a></li>
            <li><a asp-controller="account" asp-action="forgot_pass">Forgot Password</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="module_setting.html">Module Setting</a></li>
            <li><a href="Products.html">Products</a></li>
            <li><a href="Product_Details.html">Product Details</a></li>
            <li><a href="Cart.html">Cart</a></li>
            <li><a href="Checkout.html">Checkout</a></li>
        </ul>
    </li>

    <li class="">
        <a asp-controller="contacts" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/Mail_Box.svg" alt="">
            </div>
            <div class="nav_title">
                <span>@SideBar.contactpost </span>
            </div>
        </a>

    </li>
    <li class="">
        <a asp-controller="dashboard" asp-action="chat" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/Mail_Box.svg" alt="">
            </div>
            <div class="nav_title">
                <span>@SideBar.chat </span>
            </div>
        </a>

    </li>
    <li class="">
        <a asp-controller="dashboard" asp-action="Layout" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/forms.svg" alt="">
            </div>
            <div class="nav_title">
                <span>forms</span>
            </div>
        </a>

    </li>

    <li class="">
        <a asp-controller="brands" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/17.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Brands</span>
            </div>
        </a>

    </li>
    <li class="">
        <a asp-controller="Categories" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/Mail_Box.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Categories </span>
            </div>
        </a>

    </li>
    <li class="">
        <a asp-controller="products" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/Mail_Box.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Products </span>
            </div>
        </a>

    </li>
    <li class="">
        <a asp-controller="faqs" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/Mail_Box.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Faqs </span>
            </div>
        </a>

    </li>
    <li class="">
        <a asp-controller="BlogPosts" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/Mail_Box.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Blog-Paylasimlar </span>
            </div>
        </a>

    </li>

</ul>