@model LoginFormModel
@{ 

    Layout = null;
}

<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="dashboard_header mb_50">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="dashboard_header_title">
                                <h3> Default Dashboard</h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="dashboard_breadcam text-right">
                                <p><a href="index.html">Dashboard</a> <i class="fas fa-caret-right"></i> login</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="white_box mb_30">
                    <div class="row justify-content-center">

                        <div class="col-lg-6">
                            <!-- sign_in  -->
                            <div class="modal-content cs_modal">
                                <div class="modal-header justify-content-center theme_bg_1">
                                    <h5 class="modal-title text_white">Log in</h5>
                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        @ViewBag.Message
                                        <div class="form-group">
                                            <input type="text"  asp-for="UserName" class="form-control" placeholder="Enter your email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password"
                                                   asp-for="Password"
                                                   class="form-control"
                                                   placeholder="Password">
                                        </div>
                                        <button>Log in</button>
                                        <p>Need an account? <a data-toggle="modal" data-target="#sing_up" data-dismiss="modal" href="#"> Sign Up</a></p>
                                        <div class="text-center">
                                            <a href="#" data-toggle="modal" data-target="#forgot_password" data-dismiss="modal" class="pass_forget_btn">Forget Password?</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<environment names="Development">
    <script src="~/libs/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#UserName").val("Bahman");
            $("#Password").val("123");

        });


    </script>
</environment>