    <!-- menu  -->
    <div class="container-fluid no-gutters">
        <div class="row">
            <div class="col-lg-12 p-0 ">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="sidebar_icon d-lg-none">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="line_icon open_miniSide d-none d-lg-block">
                        <img src="~/uploads/images/img/line_img.png" alt="">
                    </div>
                    <div class="header_right d-flex justify-content-between align-items-center">
                        <div class="header_notification_warp d-flex align-items-center">
                            <li>
                                <a class="CHATBOX_open nav-link-notify" href="#"> <img src="~/uploads/images/img/icon/msg.svg" alt="">   </a>
                            </li>
                            <li>
                                <a class="bell_notification_clicker nav-link-notify" href="#">
                                    <img src="~/uploads/images/img/icon/bell.svg" alt="">
                                    <!-- <span>2</span> -->
                                </a>
                                <!-- Menu_NOtification_Wrap  -->
                                <div class="Menu_NOtification_Wrap">
                                    <div class="notification_Header">
                                        <h4>Notifications</h4>
                                    </div>
                                    <div class="Notification_body">
                                        <!-- single_notify  -->
                                        <div class="single_notify d-flex align-items-center">
                                            <div class="notify_thumb">
                                                <a href="#"><img src="~/uploads/images/img/staf/2.png" alt=""></a>
                                            </div>
                                            <div class="notify_content">
                                                <a href="#"><h5>Cool Marketing </h5></a>
                                                <p>Lorem ipsum dolor sit amet</p>
                                            </div>
                                        </div>
                                        <!-- single_notify  -->
                                        <div class="single_notify d-flex align-items-center">
                                            <div class="notify_thumb">
                                                <a href="#"><img src="~/uploads/images/img/staf/4.png" alt=""></a>
                                            </div>
                                            <div class="notify_content">
                                                <a href="#"><h5>Awesome packages</h5></a>
                                                <p>Lorem ipsum dolor sit amet</p>
                                            </div>
                                        </div>
                                        <!-- single_notify  -->
                                        <div class="single_notify d-flex align-items-center">
                                            <div class="notify_thumb">
                                                <a href="#"><img src="~/uploads/images/img/staf/3.png" alt=""></a>
                                            </div>
                                            <div class="notify_content">
                                                <a href="#"><h5>what a packages</h5></a>
                                                <p>Lorem ipsum dolor sit amet</p>
                                            </div>
                                        </div>
                                        <!-- single_notify  -->
                                        <div class="single_notify d-flex align-items-center">
                                            <div class="notify_thumb">
                                                <a href="#"><img src="~/uploads/images/img/staf/2.png" alt=""></a>
                                            </div>
                                            <div class="notify_content">
                                                <a href="#"><h5>Cool Marketing </h5></a>
                                                <p>Lorem ipsum dolor sit amet</p>
                                            </div>
                                        </div>
                                        <!-- single_notify  -->
                                        <div class="single_notify d-flex align-items-center">
                                            <div class="notify_thumb">
                                                <a href="#"><img src="~/uploads/images/img/staf/4.png" alt=""></a>
                                            </div>
                                            <div class="notify_content">
                                                <a href="#"><h5>Awesome packages</h5></a>
                                                <p>Lorem ipsum dolor sit amet</p>
                                            </div>
                                        </div>
                                        <!-- single_notify  -->
                                        <div class="single_notify d-flex align-items-center">
                                            <div class="notify_thumb">
                                                <a href="#"><img src="~/uploads/images/img/staf/3.png" alt=""></a>
                                            </div>
                                            <div class="notify_content">
                                                <a href="#"><h5>what a packages</h5></a>
                                                <p>Lorem ipsum dolor sit amet</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nofity_footer">
                                        <div class="submit_button text-center pt_20">
                                            <a href="#" class="btn_1 green">See More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--/ Menu_NOtification_Wrap  -->
                            </li>

                        </div>
                        <div class="profile_info d-flex align-items-center">
                            <div class="profile_thumb mr_20">
                                <img src="~/uploads/images/img/transfer/4.png" alt="#">
                            </div>
                            <div class="author_name">
                                <h4 class="f_s_15 f_w_500 mb-0">Jiue Anderson</h4>
                                <p class="f_s_12 f_w_400">Manager</p>
                            </div>
                            <div class="profile_info_iner">
                                <div class="profile_author_name">
                                    <p>Manager</p>
                                    <h5>Jiue Anderson</h5>
                                </div>
                                <div class="profile_info_details">
                                    <a href="#">My Profile </a>
                                    <a href="#">Settings</a>
                                    <a href="#">Log Out </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="dashboard_header mb_50">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="dashboard_header_title">
                                    <h3> Default Dashboard</h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="dashboard_breadcam text-right">
                                    <p><a href="index.html">Dashboard</a> <i class="fas fa-caret-right"></i> Chat</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="messages_box_area">
                        <div class="messages_list">
                            <div class="white_box ">
                                <div class="white_box_tittle list_header">
                                    <h4>Chat List</h4>
                                </div>
                                <div class="serach_field_2">
                                    <div class="search_inner">
                                        <form active="#">
                                            <div class="search_field">
                                                <input type="text" placeholder="Search content here...">
                                            </div>
                                            <button type="submit"> <i class="ti-search"></i> </button>
                                        </form>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="message_pre_left">
                                                <div class="message_preview_thumb">
                                                    <img src="~/uploads/images/img/messages/1.jpg" alt="">
                                                    <span class="round-10 bg-danger"></span>
                                                </div>
                                                <div class="messges_info">
                                                    <h4>Travor James</h4>
                                                    <p>i know you are doing great</p>
                                                </div>
                                            </div>
                                            <div class="messge_time">
                                                <span>28th Nov</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="message_pre_left">
                                                <div class="message_preview_thumb">
                                                    <img src="~/uploads/images/img/messages/2.jpg" alt="">
                                                    <span class="round-10 bg-success"></span>
                                                </div>
                                                <div class="messges_info">
                                                    <h4>Travor James</h4>
                                                    <p>i know you are doing great</p>
                                                </div>
                                            </div>
                                            <div class="messge_time">
                                                <span>28th Nov</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="message_pre_left">
                                                <div class="message_preview_thumb">
                                                    <img src="~/uploads/images/img/messages/3.jpg" alt="">
                                                    <span class="round-10 bg-danger"></span>
                                                </div>
                                                <div class="messges_info">
                                                    <h4>Travor James</h4>
                                                    <p>i know you are doing great</p>
                                                </div>
                                            </div>
                                            <div class="messge_time">
                                                <span>28th Nov</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="message_pre_left">
                                                <div class="message_preview_thumb">
                                                    <img src="~/uploads/images/img/messages/4.jpg" alt="">
                                                    <span class="round-10 bg-danger"></span>
                                                </div>
                                                <div class="messges_info">
                                                    <h4>Travor James</h4>
                                                    <p>i know you are doing great</p>
                                                </div>
                                            </div>
                                            <div class="messge_time">
                                                <span>28th Nov</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="message_pre_left">
                                                <div class="message_preview_thumb">
                                                    <img src="~/uploads/images/img/messages/1.jpg" alt="">
                                                    <span class="round-10 bg-danger"></span>
                                                </div>
                                                <div class="messges_info">
                                                    <h4>Travor James</h4>
                                                    <p>i know you are doing great</p>
                                                </div>
                                            </div>
                                            <div class="messge_time">
                                                <span>28th Nov</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="message_pre_left">
                                                <div class="message_preview_thumb">
                                                    <img src="~/uploads/images/img/messages/2.jpg" alt="">
                                                    <span class="round-10 bg-success"></span>
                                                </div>
                                                <div class="messges_info">
                                                    <h4>Travor James</h4>
                                                    <p>i know you are doing great</p>
                                                </div>
                                            </div>
                                            <div class="messge_time">
                                                <span>28th Nov</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="message_pre_left">
                                                <div class="message_preview_thumb">
                                                    <img src="~/uploads/images/img/messages/3.jpg" alt="">
                                                    <span class="round-10 bg-danger"></span>
                                                </div>
                                                <div class="messges_info">
                                                    <h4>Travor James</h4>
                                                    <p>i know you are doing great</p>
                                                </div>
                                            </div>
                                            <div class="messge_time">
                                                <span>28th Nov</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="message_pre_left">
                                                <div class="message_preview_thumb">
                                                    <img src="~/uploads/images/img/messages/4.jpg" alt="">
                                                    <span class="round-10 bg-danger"></span>
                                                </div>
                                                <div class="messges_info">
                                                    <h4>Travor James</h4>
                                                    <p>i know you are doing great</p>
                                                </div>
                                            </div>
                                            <div class="messge_time">
                                                <span>28th Nov</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="messages_chat mb_30">
                            <div class="white_box ">
                                <div class="single_message_chat">
                                    <div class="message_pre_left">
                                        <div class="message_preview_thumb">
                                            <img src="~/uploads/images/img/messages/4.jpg" alt="">
                                        </div>
                                        <div class="messges_info">
                                            <h4>Travor James</h4>
                                            <p>Yesterday at 6.33 pm</p>
                                        </div>
                                    </div>
                                    <div class="message_content_view red_border">
                                        <p>
                                            Dear KK,
                                            <br>
                                            Thank you for your update.
                                            <br>

                                            <span>
                                                We do not sell or share your details without your permission. Find
                                                out
                                                more
                                                in our Privacy Policy. Your username, email and password can be
                                                updated
                                                via
                                                your Codepixar Account settings.
                                                <br>
                                            </span>
                                            Regards,
                                        </p>
                                    </div>
                                </div>
                                <div class="single_message_chat sender_message">
                                    <div class="message_pre_left">
                                        <div class="messges_info">
                                            <h4>Agatha Kristy</h4>
                                            <p>Yesterday at 6.33 pm</p>
                                        </div>
                                        <div class="message_preview_thumb">
                                            <img src="~/uploads/images/img/messages/2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="message_content_view">
                                        <p>
                                            Dear KK,
                                            <br>
                                            Thank you for your update.
                                            <br>

                                            <span>
                                                We do not sell or share your details without your permission. Find
                                                out
                                                more
                                                in our Privacy Policy. Your username, email and password can be
                                                updated
                                                via
                                                your Codepixar Account settings.
                                                <br>
                                            </span>
                                            Regards,
                                        </p>
                                    </div>
                                </div>
                                <div class="message_send_field">
                                    <input type="text" placeholder="Write your message" value="">
                                    <button class="btn_1" type="submit">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer part -->
    <div class="footer_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer_iner text-center">
                        <p>2020 © Influence - Designed by <a href="#"> <i class="ti-heart"></i> </a><a href="#"> DashboardPack</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
